.main
{
    width: 100%;
    height: 100%;
    /*border: 1px solid red;*/
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    flex-wrap: wrap;

    /*    动画 慢慢进入*/
    animation: mainIn 600ms, ease infinite alternate;
}
@keyframes mainIn {
    from {
        transform: scale(0.1);
        opacity: 0%;
    }
    to {
        transform: scale(1);
        opacity: 100%;
    }
}


.content
{
    width: 80%;
    height: 100%;
    /*border:  1px solid darkcyan;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.title
{
    width: 80%;
    height: 10%;
    /*margin-top: 10px;*/
    min-height: 50px;
    color: white;
    text-shadow: 1px 1px 3px skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}