.button
{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.main
{
  width: 100%;
  height: 100%;
  /*height: auto;*/
  /*border: 1px solid sandybrown;*/
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: none;
  position: relative;
}
.player
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid seagreen;*/
  transition: 0.8s;
  position: relative;
}
.playerMasked
{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: contrast(50%) brightness(50%);
  transition: 0.8s;
}
.controlPanel
{
  /*masked*/
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  /*border: coral;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 5px;
  /*border: 1px dashed darkcyan;*/
  cursor: pointer;
  user-select: none;
  color: lightgray;
  font-size: 20px;
  /*text-shadow: 1px 1px #cae0ca;*/
  box-shadow: 0 0 3px lightgray;
  transition: 0.8s;
}
.btnHover
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  color: gray;
  font-size: 25px;
  text-shadow: 1px 1px darkseagreen;
  box-shadow: 0 0 3px seagreen;
  transition: 0.2s;
}
.btnHide
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  color: gray;
  font-size: 0;
  text-shadow: 1px 1px darkseagreen;
  box-shadow: 0 0 3px seagreen;
  opacity: 0;
  transition: 0.8s;
}
.closeBtn
{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: lightgray;
  box-shadow: lightgray 0px 0px 3px;
  text-shadow: 1px 1px skyblue;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
}

.img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding: 5px;
}


/*对脚本的重播 跳过等按钮  通常建议是在调试的时候使用 让视频直接跳到开头或者结尾*/
.snippetControlPanel
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*border: 1px solid blue;*/
  box-shadow: 0 0 3px 2px #e2a7ec;
  border-radius: 30px;
}
.skipBtn
{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0 0 3px 2px slateblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.rePlayBtn
{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 0 0 3px 2px salmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
