.main
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid green;*/
  text-shadow: 1px 1px 2px lightgray;
}
.editorBottomLine
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 0px;
    left: 0;
    position: absolute;
    /*border: 1px solid red;*/
}
.editorContent
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    /*border: 1px solid red;*/
    border-radius: 10px;
    box-shadow: 0 0 3px 5px #e7e3e3;
  background-color: gray;
  opacity: 50%;
}
.timeSlider
{
    width: 100%;
}
.buttons
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.lineFlexRow
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.srcListLine
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    top: 0px;
    left: 0;
    position: absolute;
}
.srcListLineContent
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /*border: 1px solid red;*/
    /*border-radius: 10px;*/
    box-shadow: 0 0 3px 5px #e7e3e3;
    background-color: gray;
    opacity: 50%;
    padding: 10px;
}
.srcElem
{
    width: 160px;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px darkgray;
    margin-left: 10px;
    margin-right: 10px;
  transition: 0.4s;
}
.srcElemCurrent
{
  composes: srcElem;
  box-shadow: 0 0 3px 3px powderblue;
  transition: 0.4s;
  background-color: cadetblue;
}
