.main
{
  width: 100%;
  /*border: 1px solid forestgreen;*/
}
.lineFlexRow
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.info
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*border: 1px solid dodgerblue;*/
}
.idNameLine
{
  composes: lineFlexRow;
  margin-top: 10px;
}
.ownerInfo
{
  composes: lineFlexRow;
  width: 100%;
  justify-content: space-between;
  /*border: 1px solid darkslategrey;*/
}
.timeInfo
{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  /*border: 1px solid dodgerblue;*/
}
.timeInfoLine
{
  composes: lineFlexRow;
  width: 100%;
}
.timeLabel
{
  min-width: 120px;
  /*border: 1px solid red;*/
}
.timeInput
{
  min-width: 100px;
  width: 100%;
  /*border: 1px solid green;*/
}
.transitionsList
{
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /*overflow: auto;*/
  /*white-space: nowrap;*/
}
.transition
{
  width: 80px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed rgba(30, 144, 255, 0.28);
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 3px;
  user-select: none;
  cursor: pointer;
}
.transitionSelected
{
  composes: transition;
  border: none;
  /*border: 1px solid dodgerblue;*/
  border-radius: 3px;
  box-shadow: 0 0 3px 1px dodgerblue;
}
